   body
   {
       background-color:#E4F9F5;
   }

   hr
   {
     background-color:#00FFFF;
     border-style:dotted none none;
     border-color:grey;
     border-width:2px;
     height:1px;
     width:auto;
   }

   h1
   {
     color: #FFAB76;
   }

   h3
   {
     color: #D83A56;
   }

   .part1
   {
      left-margin:50px;
}
   
